# .github/workflows/build.yml
name: Build Executable

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - .github/**
      - README.md

jobs:
  build:
    name: "Build Bundle (${{ matrix.variant.label }}, ${{ matrix.platform.name }})"
    runs-on: ${{ matrix.platform.on }}
    strategy:
      fail-fast: false
      matrix:
        platform: 
          - on: ubuntu-latest 
            name: x86_64
          - on: ubuntu-24.04-arm 
            name: aarch64
        variant:
          - pkg: unwrapped
            label: full
          - pkg: mini-unwrapped
            label: mini

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@v30
      with:
        nix_path: nixpkgs=channel:nixos-25.05

    - name: Set up Cachix cache
      uses: cachix/cachix-action@v15
      with:
        name: sanzenvim 
        authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

    - name: Build
      run: |
        nix bundle --bundler github:DavHau/nix-portable -o bundle .#${{ matrix.variant.pkg }} -L 2>&1

    - name: Upload Nix build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: "sanzenvim-${{ matrix.variant.label }}-${{ matrix.platform.name }}"
        path: |
          bundle/bin/nvim
